.work-title{
    color:rgb(2, 2, 12);
    background:rgb(197, 245, 252) ;
}

.work-fondo{
    color: black;
    background:#a2affa;
    
   
}

.work-fondo-dark{
    background: rgb(5, 5, 158);;
}
.work-fondo-azulos{
    background: #01103a;
}
.work-letra-blanca{
    color: #FFFFFF;
}